.uvGreen {
	background-color: green;
	border-radius: 5px;
}

.uvYellow {
	background-color: yellow;
	border-radius: 5px;
}

.uvOrange {
	background-color: orange;
	border-radius: 5px;
}

.uvRed {
	background-color: red;
	border-radius: 5px;
}

.uvPurple {
	background-color: purple;
	border-radius: 5px;
}

/* .list-group-item{
	background-color: green;
}

.newBTN{
	background-color: red;
} */